.App {
  text-align: center;
  min-height: 100vh;
  background: linear-gradient(to right, rgba(255,255,255, 0.9), rgba(255,255,255, 0.9)), url('https://cdn-images-1.medium.com/max/1600/1*QYUD6Up6YmWOSQcv_Mc1OQ.jpeg');
}

.App-header {
      color: darkgrey;
      font-size: 1.25rem;
      margin: 0;
      padding: 1rem;
  }


  .container{
    width: 80%;
    margin: auto;
    padding-top: 25px;
  }

  @media (max-width: 520px){
    .container{
      width: 95%;
    }
  }

  a{
    text-decoration: none;
  }